<div class="chat-container">
  <header class="chat-header">
    <h4>BUILDLIVE AI BOT</h4>
  </header>
  <main class="chat-history">
      <ng-container *ngFor="let item of chatHistory">
        <div class="messages" [ngClass]="{'blue': item.from === 'user' , 'green': item.from=== 'bot'}">
          <i class="fa" [ngClass]="{'fa-user-circle':item.from=== 'user', 
            'fa-graduation-cap': item.from=== 'bot'
           }"></i>
          <span>{{item.message}}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="loading">
      <app-skeleton></app-skeleton>
    </ng-container>
  </main>
  <footer class="chat-input">
    <input type="text" id="message-input" placeholder="Type Message..." 
    [(ngModel)]="prompt"
    >
    <button id="send-button" (click)="sendData()">Enter</button>
  </footer>
</div>